{% extends 'parsing/base.html' %}
{% load static %}

{% block title %}
    Query create
{% endblock %}

{% block style %}

    <link rel="stylesheet" href="{% static 'parsing/css/switch.css' %}">
{% endblock %}

{% block content %}
    <form action="" method="post" class="custom_form">
        {% csrf_token %}
        <div class="field">
            <label for="" class="label">
                Query name
            </label>
            <div class="control">
                <input type="text" required class="input" name="name" placeholder="Отели в москве">
            </div>
        </div>
        <label class="switch" style="margin: auto; display: block">
            <input type="checkbox" id="page_checkbox" name="not_all">
            <span class="slider"></span>
        </label>
        <div style="color: grey; text-align: center; margin-bottom: 10px;" id="all_pages_text">All pages</div>

        <div class="field hidden_block" id="page">
            <label for="" class="label">
                Pages count
            </label>
            <div class="control">
                <input type="number" class="input" value="1">
            </div>
        </div>

        {#        <label class="checkbox">#}
        {#            <input class="checkbox" type="checkbox" name="detail">#}
        {#            Детальный поиск#}
        {#        </label>#}
        <button type="submit" class="button is-info centered">Искать</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        let page_checkbox = document.getElementById('page_checkbox');
        page_checkbox.addEventListener("change",
            function () {
                let page = document.getElementById('page');
                page.classList.toggle('hidden_block');
                let all_pages_text = document.getElementById('all_pages_text');
                all_pages_text.classList.toggle('hidden_block');
                if (page_checkbox) {
                    if (page_checkbox.checked) {
                        page.children[1].children[0].setAttribute('name', 'page');
                    } else {
                        page.children[1].children[0].removeAttribute('name');
                    }
                }
            }
        )
    </script>
{% endblock %}