{% extends 'parsing/base.html' %}
{% load parsing_tags %}
{% block title %}
    {{ group.name }}
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'parsing:admin_dashboard' %}">Admin</a></li>
            <li><a href="{% url 'parsing:group_list' %}">Roles</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ group.name }}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <table class="table is-bordered">
        <thead>
        <tr style="text-align: center;">
            <th>Name</th>
            <th>Role</th>
            <th>Registration</th>
            {% if request.user|hasGroup:'Admin' %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.last_name }} {{ user.first_name }}</td>
                <td>{% if user.groups.count %}{{ user.groups.first }}{% else %}-{% endif %}</td>
                <td>{{ user.date_joined }}</td>
                {% if request.user|hasGroup:'Admin' %}
                    <td>
                        <a href="{% url 'parsing:user_detail' user.pk %}">
                        <span class="icon block_centered" style="color: orange">
                            <i class="fas fa-edit"></i>
                        </span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% include 'parsing/include/pagination.html' with page=users %}

{% endblock %}