{% extends 'base.html' %}

{% block title %}
    {{ service.name }}
{% endblock %}


{% block head %}
    <style>
        .custom_button {

            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            margin: 4px 5px;
            font-size: 1rem;
            line-height: 1.5;
            background: #5caf01;
            color: white;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            --color-shadow: hsla(240, 8%, 12%, 0.15);
            --color-shadow: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);
            box-shadow: 0 4px 16px hsl(240deg 8% 12% / 15%);
            box-shadow: 0 4px 16px hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);
            cursor: pointer;

        }
    </style>
    {% if service.faq and service.faq.questions %}
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [
          {% for question in service.faq.questions.all|slice:"3" %}
              {
                "@type": "Question",
                "name": "{{ question.question }}",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "{{ question.answer }}"
                }
              }{% if not forloop.last %},{% endif %}
          {% endfor %}
          ]
        }
        </script>
    {% endif %}
{% endblock %}

{% block title_section %}
    <section class="page_title ds s-pt-80 s-pb-80 s-pt-lg-130 s-pb-lg-90">
        <div class="divider-50"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ service.name }}</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'app:service_list' %}">Service</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span>{{ service.name }}</span>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block content_section %}
    <div class="container mb-30">
        <div class="row justify-content-center mt-10">
            <h1 style="font-size: 21px">Cities with this service: {{ service.name }}</h1>
        </div>
    </div>
    <div class="container">
        {% for city in cities %}
            <a href="{% url 'app:city_service_detail' city.slug service.slug %}" class="custom_button">{{ city }}</a>
        {% endfor %}
    </div>

    {% if service.faq %}
        {% include 'parsing/include/faq/block.html' with questions=service.faq.questions.all %}
    {% endif %}
{% endblock %}