{% extends 'base.html' %}
{% load app_tags parsing_tags static %}
{% block title %}
    {{ city_service.service.name }} in {{ city_service.city.name }}, VA near me  - zip code
    {{ city_service.city.zip_codes }}
{% endblock %}

{% block head %}
    <meta name="description"
          content="{{ city_service.content|default:'Find the best '|add:city_service.service.name|add:' near you in '|add:city_service.city.name|add:', VA | zip code . Read reviews and get connected with nearby '|add:city_service.service.name|add:' today.' }}">
    {% if city_service.faq and city_service.faq.questions %}
        <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
        {% for question in city_service.faq.questions.all|slice:"3" %}
            {
            "@type": "Question",
            "name": "{{ question.question }}",
            "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ question.answer }}"
            }
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]
        }
        </script>

        <style>
            .rating_block {
                background-color: gold;
                padding: 10px 20px;
                position: absolute;
                margin-left: 10px;
                color: whitesmoke;
                box-sizing: border-box;
                margin-top: 10px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .custom_cards {
                display: flex;
                justify-content: center;
                padding: 0px;
                flex-wrap: wrap;
            }

            @media (max-width: 992px) {
                .place_card_img_info {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column !important;
                }

                .place_card_img_info a:first-child {
                    align-self: center;
                }

                .top_place_number {
                    display: none;
                }

                .place_img {
                    width: 95% !important;
                    margin: auto;
                    display: block;
                    height: auto !important;
                }
            }


        </style>
    {% endif %}
{% endblock %}

{% block title_section %}
    <section class="page_title ds s-pt-80 s-pb-80 s-pt-lg-130 s-pb-lg-90">
        <div class="divider-50"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h1>20+ Best {{ city_service.service.name }} in {{ city_service.city.name }}, VA near you</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'app:city_detail' city_service.city.slug %}">{{ city_service.city.name }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span>{{ city_service.service.name }}</span>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block content_section %}
    <div class="container mt-3">
        <div class="query_description">
            {{ city_service.content|default:''|safe }}
        </div>
        <div style="padding: 30px">
            <div style="display: flex; justify-content: center; flex-wrap: wrap">
                {% for tag in city_service.tags.all %}
                    <span class="btn btn-outline-info" style="margin: 3px">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="custom_cards" style="flex-direction: column; padding: 0px !important;">
            {% for place in top_places %}
                {% include 'app/parser/include/place/preview_card.html' with place=place %}
            {% endfor %}
        </div>

        <div class="letters" style="display: flex; flex-wrap: wrap;padding: 20px;justify-content: center">
            {% for letter in letters %}
                <div class="letter" style="width: 30%; min-width: 300px">
                    <hr>
                    <span style="color: cornflowerblue">{{ letter }}</span>
                    {% for place in places_letter|getValue:letter|getValue:'places' %}
                        <p><a href="{% url 'app:place_detail' place.slug %}"
                              class="hover_link">{{ place.name }}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% include 'app/include/faq/block.html' with questions=city_service.faq.questions %}
    </div>
{% endblock %}