{% load parsing_tags static %}
<body class="inner_body_copySite">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    @media (max-width: 4096px) {
        .inner_body_copySite {
            color: #4a4a4a;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
            padding: 10px;
        {#font-family: 'BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif';#} font-family: sans-serif;
        }

        .block_title_copySite {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box_copySite {
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
            color: #4a4a4a;
            padding: 1.25rem;
            margin: 10px;
            width: -webkit-fill-available;
        }

        .box_copySite p {
            margin-bottom: 0px !important;
        }

        .link_copySite {
            color: #90c1ff;
            text-decoration: none;
        }

        .rating_parts_copySite {
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
        }

        .rating_part_copySite {
            padding: 10px;
            margin: 6px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .hr_line_copySite {
            height: 1px;
            background-color: #c8c8c8;
            width: 99%;
            display: block;
            margin: 10px auto;
        }

        .place_img_copySite {
            width: 300px !important;
            min-width: 300px !important;
            height: 200px !important;
            max-height: 100%;
            margin-right: 20px;
            border-radius: 5px
        }

        .letter_copySite {
            width: 30%;
        }

        .review-card_copySite {
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
            color: #4a4a4a;
            max-width: 100%;
            position: relative;
        }

        .rating_stars_copySite {
            display: flex;
            height: 21px;
            font-size: 40px
        }

        .rating_numbers_copySite {
            display: none;
            color: #faa500;
        }
    }
</style>
<style>
    @media (max-width: 630px) {
        .place_copySite {
            flex-direction: column !important;
        }

        .place_img_copySite {
            margin-bottom: 10px;
            width: 100% !important;
            min-width: auto !important;
            height: auto !important;
        }

        .letter_copySite {
            width: 100%;
        }

        .rating_part_copySite {
            padding: 1px;
            font-size: 11px;
            color: grey;
        }

        .rating_part_copySite {
            padding: 5px !important;
            font-size: 11px;
            color: grey;
        }

        .rating_numbers_copySite {
            display: inline !important;
        }

        .rating_stars_copySite {
            display: none !important;
        }
    }
</style>

<div style="padding: 20px;">
    <div style="font-size: 16px">
        {#            <h4 style="text-align: center">Description</h4>#}
        <div>
            {{ city_service.content|default:''|safe }}
        </div>
        <br>
        <div>
            {% for tag in city_service.tags.all %}
                <span style="margin: 3px; background-color: grey; color: white; padding: 3px; border-radius: 3px">
        {{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    {% for place in top_places %}
        <div style="padding: 10px; box-sizing: border-box;">
            <div class="box_copySite">
                <div style="display: flex; " class="place_copySite">
                    <a href="{{ place.google_url }}" rel="nofollow">
                        <img src="{{ place.get_cloud_img.get_default_img }}" class="place_img_copySite"
                             alt="{{ place.name }}"
                             style="">
                    </a>
                    <div style="flex-grow: 1;">
        <span style="color: black;
        display: block;
        border-bottom: 1px solid grey;margin: 0px;
        ;">
        <h2 style="font-size: 17px; text-align: center"><a class="link_copySite" href="{{ place.google_url }}"
                                                           rel="nofollow">{{ place.name }}</a></h2>
        </span>
                        <span><b>Rating</b>: {{ place.rating }} ({{ place.rating_user_count }})</span><br>
                        <span><b>Address</b>: {{ place.address|isValue }}</span><br>
                        <span><b>Phone</b>: <a class="link_copySite"
                                               href="tel:{{ place.phone_number }}">{{ place.phone_number|isValue }}</a></span><br>
                        <span><b>Description</b>:
        {% if place.description %}{{ place.description }}{% else %}
            {{ place.get_meta_description }}{% endif %}</span><br>
                    </div>
                </div>
                {#                <span>Reviews: {{ place.reviews.count }}</span>#}
                {% with place.get_more_text as review %}
                    {% if review %}
                        <div style="margin: 20px auto;">
                            <div>
                                <div class="review-card_copySite"
                                     style="background-color: #FAFAFA; border-radius: 10px; padding: 10px 20px">
                                    <p style="border-bottom: 1px solid lightgrey; display: flex; justify-content: space-between;
                margin-bottom: 3px; padding-bottom: 10px">
                <span style="display: flex; justify-content: center; align-items: center">
                <img src="




                        {% if review.user.profile.cloud_img %}{{ review.user.profile.cloud_img.get_min_img }}{% else %}No image{% endif %}"
                     style="width: 30px; height: 30px; margin-right: 10px; border-radius: 100%" alt="">
                <span>
                <a class="link_copySite">{{ review.get_user_name }}</a>
                </span>
                </span></p>
                                    <div style="display: flex; justify-content: space-between; align-items: center;border-bottom: 1px
                    solid lightgrey;padding: 0px 10px; margin-bottom: 10px">
                                        <div style="font-size: 40px; width: 100px;margin-bottom: 12px; color: #FAA500; font-weight: 600;">
                                            {{ review.get_rating }}
                                            {{ review.get_rating|numberToStars }}
                                        </div>
                                        {% if review.parts.exists %}

                                            <div class="rating_parts_copySite">
                                                {% for part in review.parts.all %}
                                                    <div class="rating_part_copySite">
                                                        {{ part.review_type.name }}
                                                        <div><span
                                                                class="rating_stars_copySite">{{ part.rating|getRating|safe }}</span>
                                                            <span class="rating_numbers_copySite">{{ part.rating }} / 5</span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                    <p>{{ review.text }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}
</div>
<span class="hr_line_copySite"></span>

<h4 class="block_title_copySite">All places</h4>
<div style="display: flex; justify-content: space-between; flex-wrap: wrap">
    {% for letter in letters %}
        <div class="letter_copySite">
            <span class="hr_line_copySite"></span>
            <span style="color: cornflowerblue">{{ letter }}</span>
            {% for place in places_letter|getValue:letter|getValue:'places' %}
                <p><a href="{{ place.google_url }}" rel="nofollow" class="link_copySite">{{ place.name }}</a></p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<span class="hr_line_copySite"></span>
<div style="color: grey">
    <p>Total {{ places.count }} places</p>
</div>

</body>