{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ tag.name }} | EDIT
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'app/css/shop.css' %}" class="color-switcher-link">
{% endblock %}
{% block title_section %}

{% endblock %}

{% block content_section %}
    <section class="ls s-pt-55 s-pb-55 s-pt-lg-95 s-pb-lg-95">
				<div class="container">
					<div class="row">
						<main class="col-lg-12">
							<article>
								<!-- .entry-header -->
								<div class="entry-content">
									<div class="woocommerce">

										<!--
			<div class="woocommerce-message">Are you sure you want to log out? <a
				href="shop-account-login.html">Confirm and log out</a>
			</div>
			-->

										<form action="" class="woocomerce-form woocommerce-form-login login text-center" method="post">
                                            {% csrf_token %}
                                            <p></p>
											<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
												<label for="username">Tag name <span class="required">*</span>
												</label>
												<input type="text" class="woocommerce-Input woocommerce-Input--text input-text text-center" name="name" id="username" value="{{ tag.name }}" placeholder="Username or email address">
											</p>
											<p class="form-row">
                                                <button type="submit" class="woocommerce-Button button"  value="Edit">Edit</button>
											</p>

										</form>
									</div>
								</div>
								<!-- .entry-content -->
							</article>


						</main>
					</div>
				</div>
			</section>
{% endblock %}